
#mainContainer {
    background-color: lightblue;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(lightblue, steelblue);
}

#loadingIcon {
    text-align: center;
    height: 100%;
    min-height: 100vh;
}

#navContainer{
    border: solid #6593f5;
    width: fill;
    height: 70px;
    background: #6593f5;
    font-family: 'Tenor Sans', sans-serif;

}

.link {
    color: white;
}

#componentContainer {
    margin: 0;
    height: 100%;
    padding: 5% 4% 2% 2%;
    min-height: 100vh;
    background-image: linear-gradient(lightblue, steelblue);
}

#mainpage {
    min-height: 100vh;
    text-align: center;
}

#title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 50px;
    padding: 1%;
    text-shadow: 1px 1px 2px black, 0 0 25px navy, 0 0 5px darkblue;
}


#images{
    border: solid black;
}

#image {
    width: 20%;
    padding: 1%;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(102, 51, 153, 1)
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(102, 51, 153, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(102, 51, 153, 1);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(102, 51, 153, 1);
        box-shadow: 0 0 0 0 rgba(102, 51, 153, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

#paddingBox {
    margin: 5% 0% 0% 0%;
    width: 100%;
    height: 70%;
}



#imageButton {
    border: solid navy;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: fill;
    box-shadow: 10px 10px;
    margin: 5% 0% 0% 0%;
}

#restText {
    background: lightblue;
    border-top: solid lightblue;
    border-left: solid lightblue;
    border-right: solid lightblue;
    opacity: 0.78;
    animation: pulse 4s infinite;
}

#backgroundImage {
    border-width: 5px;
    border-left: solid lightblue;
    border-right: solid lightblue;
    border-bottom: solid lightblue;
    width: 100%;
    height: 85%;
    text-align: center;
}

#search {
    box-shadow: 10px 10px;
    background: steelblue;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 2%;
}

#searchFields {
    margin: 5% 5% 0% 25%;
    width: 50%;
}

.searchInfo {
    padding: 1%;
    margin: 1%;
}

.background-div {
    background-image: url('https://www.desktop-background.com/download/1280x1024/2011/01/24/146988_healthy-food-hd-images-desktop-wallpapers-hd-wallpapers_1301x1300_h.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: 'Tenor Sans', sans-serif;
}

.username-div {
    margin: 120px 180px;
}

.password-div {
    margin: 220px -455px;
}

.login-btn {
    margin: 20px 390px;
}

p {
    font-size: 200%;
    margin: 50px 200px;
}

.h1-tag {
    margin: 30px 50px;
}
.single-rest-div{
    font-family: 'Cardo', serif;
}